.form-desc-text {
  width: 770px;
  font-size: 20px;
  font-weight: 200;
  line-height: 135%;
}
.TextFieds {
  display: inline;
}

.card-wrapper {
  margin: auto;
  padding-bottom: 20px;
  max-width: 770px;
}
.text-select-div {
  display: block;
  display: flex;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul p {
  width: 95%;
  padding: 2%;
  font-size: 18px;
  margin: 2px;
}

.add-option {
  display: flex;
  margin: 4px;
}

.add-option p {
  margin-top: 4px;
  font-size: 14px;
}
